<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.each do |field,msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Question to ask:" %><br />
    <%= f.text_area :title %>
  </div>
  
  Note: You can use one or more hash tags to make this question searchable.  Example: #religion #god
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
