<h1>Listing questions</h1>

<%= form_tag questions_path, :method => 'get' do %>
  <p style="text-align: center; padding-top: 10px">
	  Search Questions by Tag(s):
	  <%= text_field_tag :search, params[:search] %>
	  &nbsp;
	  <%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<table>
  <tr>
    <th>Question</th>
    <th>Posted by</th>
    <th>Posted</th>
    <th>Yes Responses</th>
    <th>No Responses</th>
    <th>Consensus</th>
    <th>Your Answer</th>
    <th>Actions</th>
  </tr>

<%= render @questions %>
  
</table>

<%= will_paginate @questions %>