<h1><%= @user.username %></h1>

<p>
  <strong>Personal URL:</strong> centty.com/<%= @user.username %>
</p>

<% unless current_user?(@user) %>
		<% if current_user.following?(@user) %>
			You are following this user.
			
			<%= form_for current_user.relationships.find_by_followed_id(@user), 
      				:html => { :method => :delete } do |f| %>
      	<div class="actions"><%= f.submit "Unfollow" %></div>
      <% end %>
      
		<% else %>
			You are not following this user.
			
			<%= form_for current_user.relationships.build(:followed_id => @user.id) do |f| %>
      	<div><%= f.hidden_field :followed_id %></div>
      	<div class="actions"><%= f.submit "Follow" %></div>
      <% end %>
      
		<% end%>
<% end %>


<h2>Questions</h2>

<table>
  <tr>
    <th>Question</th>
    <th>Posted by</th>
    <th>Posted</th>
    <th>Yes Responses</th>
    <th>No Responses</th>
    <th>Consensus</th>
    <th>My Answer</th>
    <th>Actions</th>
  </tr>

<%= render @questions %>
  
</table>

<%= will_paginate @questions, :param_name => 'questions_page' %>

<h2>Responses</h2>

<table>
  <tr>
    <th>Question</th>
    <th>Posted by</th>
    <th>Posted</th>
    <th>Responded</th>
    <th>Response</th>
    <th>Actions</th>
  </tr>

<%= render @answers %>
  
</table>

<%= will_paginate @answers, :param_name => 'answers_page' %>

<h2>Followers</h2>

<table>
  <tr>
    <th>Username</th>
  </tr>

  <% @followers.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user) %></td>
    </tr>
  <% end %>

</table>

<%= will_paginate @followers, :param_name => 'followers_page' %>

<h2>Following</h2>

<table>
  <tr>
    <th>Username</th>
  </tr>

  <% @following.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user) %></td>
    </tr>
  <% end %>

</table>

<%= will_paginate @following, :param_name => 'following_page' %>