<tr>
  <td><%= link_to answer.question.title, question_path(answer.question) %></td>
  <td><%= link_to answer.question.user.username, user_path(answer.question.user) %></td>
  <td><%= time_ago_in_words(answer.question.created_at) %> ago</td>
  <td><%= time_ago_in_words(answer.created_at) %></td>
  <td><%= answer.response ? "Yes" : "No" %></td>
  <td>
    <% if answer.user == current_user %>
      <%= link_to "Remove", answer_path(answer), :method => :delete, :confirm => "Are you sure?" %>
    <% end %>
  </td>
</tr>